<app-slider></app-slider>
<div class="container">
<div class="row"></div>
<div class="col-lg-4"  >
<h2 routerLink="/categories" >Categories</h2>
</div>
</div>

<div class="container">
<div class="row"></div>
    <div class="col-lg-4"  >
        <div class="panel panel-default" routerLink="/categories">
            <div class="panel-heading text-center "><strong>Electronics</strong></div>
            <div class="panel-body" style="background-color:black;">
              <img class="img-responsive center-block" src="../assets/img/electronic devices.jpg"  >
            </div>
          </div>
    </div>

    <div class="col-lg-4"  >
        <div class="panel panel-default " routerLink="/categories">
            <div class="panel-heading text-center"><strong>Fashion</strong> </div>
            <div class="panel-body" style="background-color:black;">
              <img class="img-responsive center-block" src="../assets/img/fashion.jpg"  >
            </div>
          </div>
    </div>

    <div class="col-lg-4"  >
        <div class="panel panel-default" routerLink="/categories">
            <div class="panel-heading text-center "><strong>Home</strong></div>
            <div class="panel-body" style="background-color:black;">
              <img class="img-responsive center-block"  src="../assets/img/home.jpg"  >
            </div>
          </div>
    </div>
  </div>
  <hr style="border: 2px solid black; ">

  <footer>
    <div class="container" >
      <p class="lead text-center">Copyright &copy; 2018 ECommerce</p>
    </div>
  </footer>